* {
	-fx-font-size: 12px;
}

.button {
	-fx-font-size: 14px;
}

.tool-bar .button {
    -fx-border-width: 0px;
}

.btn {
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-radius: 4px;
}

.btn-primary {
	-fx-background-color: #378bfa;
	-fx-text-fill: white;
}

.btn-primary:hover {
	-fx-background-color: #579efa;
}

.btn-default {
    -fx-text-fill: #333;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
}

.btn-default:hover {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #adadad;
}

.btn-success:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #449d44;
    -fx-border-color: #398439;
}

.btn-success {
    -fx-text-fill: #fff;
    -fx-background-color: #5cb85c;
    -fx-border-color: #4cae4c;
}

.consoleTextArea {
	-fx-stroke: white;
	-fx-fill: black;
	-fx-background-color: black;
}

.consoleTextArea:focused {
}

.text-green{
    -fx-font-weight: bold;
    -fx-text-fill: #4cae4c;
}

.text-red{
    -fx-font-weight: bold;
    -fx-text-fill: #ff0000;
}

.text-bold{
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}



/** fruitcombo.css
    place in same directory as FruitComboApplication.java
    ensure build system copies the css file to the build output path */

.layout {
    -fx-background-color: cornsilk;
}

#selected-fruit-frame {
    -fx-border-color: burlywood;
    -fx-border-width: 5;
    -fx-background-color: white;
}

.bold-label {
    -fx-font-weight: bold;
}

#train_table .table-column {
    -fx-alignment: CENTER;
}

#host_table .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header{
    -fx-background-color: #4cae4c;
}

.table-view .column-header.foo .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}